In [5]:
import pandas as pd

data = pd.read_csv('./data/covid_19_clean_complete.csv')
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
5,NaN,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0,0,0
6,NaN,Argentina,-38.416100,-63.616700,1/22/20,0,0,0
7,NaN,Armenia,40.069100,45.038200,1/22/20,0,0,0
8,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0,0,0
9,New South Wales,Australia,-33.868800,151.209300,1/22/20,0,0,0
10,Northern Territory,Australia,-12.463400,130.845600,1/22/20,0,0,0
11,Queensland,Australia,-28.016700,153.400000,1/22/20,0,0,0
12,South Australia,Australia,-34.928500,138.600700,1/22/20,0,0,0
13,Tasmania,Australia,-41.454500,145.970700,1/22/20,0,0,0
14,Victoria,Australia,-37.813600,144.963100,1/22/20,0,0,0
15,Western Australia,Australia,-31.950500,115.860500,1/22/20,0,0,0
16,NaN,Austria,47.516200,14.550100,1/22/20,0,0,0
17,NaN,Azerbaijan,40.143100,47.576900,1/22/20,0,0,0
18,NaN,Bahamas,25.034300,-77.396300,1/22/20,0,0,0
19,NaN,Bahrain,26.027500,50.550000,1/22/20,0,0,0
20,NaN,Bangladesh,23.685000,90.356300,1/22/20,0,0,0
21,NaN,Barbados,13.193900,-59.543200,1/22/20,0,0,0
22,NaN,Belarus,53.709800,27.953400,1/22/20,0,0,0
23,NaN,Belgium,50.833300,4.000000,1/22/20,0,0,0
24,NaN,Benin,9.307700,2.315800,1/22/20,0,0,0
25,NaN,Bhutan,27.514200,90.433600,1/22/20,0,0,0
26,NaN,Bolivia,-16.290200,-63.588700,1/22/20,0,0,0
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0,0,0
28,NaN,Brazil,-14.235000,-51.925300,1/22/20,0,0,0
29,NaN,Brunei,4.535300,114.727700,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
18402,NaN,Uzbekistan,41.377500,64.585300,4/2/20,205,2,25
18403,NaN,Venezuela,6.423800,-66.589700,4/2/20,146,5,43
18404,NaN,Vietnam,16.000000,108.000000,4/2/20,233,0,75
18405,NaN,Zambia,-15.416700,28.283300,4/2/20,39,1,0
18406,NaN,Zimbabwe,-20.000000,30.000000,4/2/20,9,1,0
18407,Diamond Princess,Canada,0.000000,0.000000,4/2/20,0,1,0
18408,NaN,Dominica,15.415000,-61.371000,4/2/20,12,0,0
18409,NaN,Grenada,12.116500,-61.679000,4/2/20,10,0,0
18410,NaN,Mozambique,-18.665695,35.529562,4/2/20,10,0,0
18411,NaN,Syria,34.802075,38.996815,4/2/20,16,2,0
18412,NaN,Timor-Leste,-8.874217,125.727539,4/2/20,1,0,0
18413,NaN,Belize,13.193900,-59.543200,4/2/20,3,0,0
18414,NaN,Laos,19.856270,102.495496,4/2/20,10,0,0
18415,NaN,Libya,26.335100,17.228331,4/2/20,11,1,0
18416,NaN,West Bank and Gaza,31.952200,35.233200,4/2/20,161,1,18
18417,NaN,Guinea-Bissau,11.803700,-15.180400,4/2/20,9,0,0
18418,NaN,Mali,17.570692,-3.996166,4/2/20,36,3,0
18419,NaN,Saint Kitts and Nevis,17.357822,-62.782998,4/2/20,9,0,0
18420,Northwest Territories,Canada,64.825500,-124.845700,4/2/20,2,0,0
18421,Yukon,Canada,64.282300,-135.000000,4/2/20,6,0,0
18422,NaN,Kosovo,42.602636,20.902977,4/2/20,125,1,10
18423,NaN,Burma,21.916200,95.956000,4/2/20,20,1,0
18424,Anguilla,United Kingdom,18.220600,-63.068600,4/2/20,3,0,0
18425,British Virgin Islands,United Kingdom,18.420700,-64.640000,4/2/20,3,0,0
18426,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/2/20,5,0,0
18427,NaN,MS Zaandam,0.000000,0.000000,4/2/20,9,2,0
18428,NaN,Botswana,-22.328500,24.684900,4/2/20,4,1,0
18429,NaN,Burundi,-3.373100,29.918900,4/2/20,3,0,0
18430,NaN,Sierra Leone,8.460555,-11.779889,4/2/20,2,0,0
18431,NaN,Malawi,-13.254308,34.301525,4/2/20,3,0,0

In [18]:
# 데이터 복사해서 사용하기 
df = data.copy()
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
5,NaN,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0,0,0
6,NaN,Argentina,-38.416100,-63.616700,1/22/20,0,0,0
7,NaN,Armenia,40.069100,45.038200,1/22/20,0,0,0
8,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0,0,0
9,New South Wales,Australia,-33.868800,151.209300,1/22/20,0,0,0
10,Northern Territory,Australia,-12.463400,130.845600,1/22/20,0,0,0
11,Queensland,Australia,-28.016700,153.400000,1/22/20,0,0,0
12,South Australia,Australia,-34.928500,138.600700,1/22/20,0,0,0
13,Tasmania,Australia,-41.454500,145.970700,1/22/20,0,0,0
14,Victoria,Australia,-37.813600,144.963100,1/22/20,0,0,0
15,Western Australia,Australia,-31.950500,115.860500,1/22/20,0,0,0
16,NaN,Austria,47.516200,14.550100,1/22/20,0,0,0
17,NaN,Azerbaijan,40.143100,47.576900,1/22/20,0,0,0
18,NaN,Bahamas,25.034300,-77.396300,1/22/20,0,0,0
19,NaN,Bahrain,26.027500,50.550000,1/22/20,0,0,0
20,NaN,Bangladesh,23.685000,90.356300,1/22/20,0,0,0
21,NaN,Barbados,13.193900,-59.543200,1/22/20,0,0,0
22,NaN,Belarus,53.709800,27.953400,1/22/20,0,0,0
23,NaN,Belgium,50.833300,4.000000,1/22/20,0,0,0
24,NaN,Benin,9.307700,2.315800,1/22/20,0,0,0
25,NaN,Bhutan,27.514200,90.433600,1/22/20,0,0,0
26,NaN,Bolivia,-16.290200,-63.588700,1/22/20,0,0,0
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0,0,0
28,NaN,Brazil,-14.235000,-51.925300,1/22/20,0,0,0
29,NaN,Brunei,4.535300,114.727700,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
18402,NaN,Uzbekistan,41.377500,64.585300,4/2/20,205,2,25
18403,NaN,Venezuela,6.423800,-66.589700,4/2/20,146,5,43
18404,NaN,Vietnam,16.000000,108.000000,4/2/20,233,0,75
18405,NaN,Zambia,-15.416700,28.283300,4/2/20,39,1,0
18406,NaN,Zimbabwe,-20.000000,30.000000,4/2/20,9,1,0
18407,Diamond Princess,Canada,0.000000,0.000000,4/2/20,0,1,0
18408,NaN,Dominica,15.415000,-61.371000,4/2/20,12,0,0
18409,NaN,Grenada,12.116500,-61.679000,4/2/20,10,0,0
18410,NaN,Mozambique,-18.665695,35.529562,4/2/20,10,0,0
18411,NaN,Syria,34.802075,38.996815,4/2/20,16,2,0
18412,NaN,Timor-Leste,-8.874217,125.727539,4/2/20,1,0,0
18413,NaN,Belize,13.193900,-59.543200,4/2/20,3,0,0
18414,NaN,Laos,19.856270,102.495496,4/2/20,10,0,0
18415,NaN,Libya,26.335100,17.228331,4/2/20,11,1,0
18416,NaN,West Bank and Gaza,31.952200,35.233200,4/2/20,161,1,18
18417,NaN,Guinea-Bissau,11.803700,-15.180400,4/2/20,9,0,0
18418,NaN,Mali,17.570692,-3.996166,4/2/20,36,3,0
18419,NaN,Saint Kitts and Nevis,17.357822,-62.782998,4/2/20,9,0,0
18420,Northwest Territories,Canada,64.825500,-124.845700,4/2/20,2,0,0
18421,Yukon,Canada,64.282300,-135.000000,4/2/20,6,0,0
18422,NaN,Kosovo,42.602636,20.902977,4/2/20,125,1,10
18423,NaN,Burma,21.916200,95.956000,4/2/20,20,1,0
18424,Anguilla,United Kingdom,18.220600,-63.068600,4/2/20,3,0,0
18425,British Virgin Islands,United Kingdom,18.420700,-64.640000,4/2/20,3,0,0
18426,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/2/20,5,0,0
18427,NaN,MS Zaandam,0.000000,0.000000,4/2/20,9,2,0
18428,NaN,Botswana,-22.328500,24.684900,4/2/20,4,1,0
18429,NaN,Burundi,-3.373100,29.918900,4/2/20,3,0,0
18430,NaN,Sierra Leone,8.460555,-11.779889,4/2/20,2,0,0
18431,NaN,Malawi,-13.254308,34.301525,4/2/20,3,0,0

In [25]:
# 중복된 나라 찾기 
import pandas as pd 
Country=data.iloc[:, 1]
df = Country.value_counts()
df.index[1]

for i in range(len(df)):
    a = df[i]
    if a > 1:
        print(df.index[i])

China
Canada
France
United Kingdom
Australia
Netherlands
Denmark
Mozambique
Israel
Malta
Holy See
Uruguay
Cuba
El Salvador
Central African Republic
Sweden
Belize
Burundi
Eritrea
Singapore
Switzerland
Guyana
MS Zaandam
Niger
Dominican Republic
Ghana
Sri Lanka
Gabon
Guinea
Libya
Panama
Moldova
Maldives
Haiti
Italy
Iran
Romania
Colombia
Vietnam
Bahamas
Namibia
Cote d'Ivoire
Kyrgyzstan
Andorra
San Marino
Guatemala
Cabo Verde
Saudi Arabia
Jamaica
Saint Kitts and Nevis
Armenia
West Bank and Gaza
Cyprus
Burkina Faso
Algeria
Equatorial Guinea
Zimbabwe
Russia
Argentina
Rwanda
Greece
Sudan
Nepal
Venezuela
Azerbaijan
Mauritania
Egypt
United Arab Emirates
Portugal
Hungary
Kosovo
Bolivia
Iceland
Benin
Guinea-Bissau
Albania
Sierra Leone
Ireland
Belgium
Jordan
Antigua and Barbuda
Cameroon
Qatar
Czechia
Madagascar
Chad
Kenya
Turkey
Spain
Bhutan
Serbia
Mongolia
Syria
Diamond Princess
Peru
Thailand
Slovakia
Uzbekistan
Trinidad and Tobago
Germany
Estonia
Congo (Brazzaville)
Liechtenstein
Paraguay
Costa Rica
Eswatini
Taiwan*
Malawi
Kazakhstan
Gambia
Dominica
Saint Lucia
Djibouti
Grenada
Congo (Kinshasa)
South Korea
Lithuania
Seychelles
Brunei
North Macedonia
Ethiopia
Mali
Papua New Guinea
Poland
US
Montenegro
Georgia
Slovenia
Austria
Liberia
Botswana
Mexico
Timor-Leste
India
Zambia
Bangladesh
Cambodia
Monaco
Brazil
Somalia
South Africa
Indonesia
Croatia
Bosnia and Herzegovina
Latvia
Suriname
New Zealand
Pakistan
Kuwait
Philippines
Belarus
Afghanistan
Oman
Uganda
Morocco
Togo
Bahrain
Ecuador
Saint Vincent and the Grenadines
Malaysia
Angola
Laos
Senegal
Barbados
Chile
Iraq
Luxembourg
Ukraine
Burma
Japan
Lebanon
Norway
Bulgaria
Nigeria
Nicaragua
Tunisia
Finland
Fiji
Tanzania
Mauritius
Honduras

In [21]:
df1 = df.drop(['Province/State'] , axis = 1)
df1

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,Albania,41.153300,20.168300,1/22/20,0,0,0
2,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,Angola,-11.202700,17.873900,1/22/20,0,0,0
5,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0,0,0
6,Argentina,-38.416100,-63.616700,1/22/20,0,0,0
7,Armenia,40.069100,45.038200,1/22/20,0,0,0
8,Australia,-35.473500,149.012400,1/22/20,0,0,0
9,Australia,-33.868800,151.209300,1/22/20,0,0,0
10,Australia,-12.463400,130.845600,1/22/20,0,0,0
11,Australia,-28.016700,153.400000,1/22/20,0,0,0
12,Australia,-34.928500,138.600700,1/22/20,0,0,0
13,Australia,-41.454500,145.970700,1/22/20,0,0,0
14,Australia,-37.813600,144.963100,1/22/20,0,0,0
15,Australia,-31.950500,115.860500,1/22/20,0,0,0
16,Austria,47.516200,14.550100,1/22/20,0,0,0
17,Azerbaijan,40.143100,47.576900,1/22/20,0,0,0
18,Bahamas,25.034300,-77.396300,1/22/20,0,0,0
19,Bahrain,26.027500,50.550000,1/22/20,0,0,0
20,Bangladesh,23.685000,90.356300,1/22/20,0,0,0
21,Barbados,13.193900,-59.543200,1/22/20,0,0,0
22,Belarus,53.709800,27.953400,1/22/20,0,0,0
23,Belgium,50.833300,4.000000,1/22/20,0,0,0
24,Benin,9.307700,2.315800,1/22/20,0,0,0
25,Bhutan,27.514200,90.433600,1/22/20,0,0,0
26,Bolivia,-16.290200,-63.588700,1/22/20,0,0,0
27,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0,0,0
28,Brazil,-14.235000,-51.925300,1/22/20,0,0,0
29,Brunei,4.535300,114.727700,1/22/20,0,0,0
...,...,...,...,...,...,...,...
18402,Uzbekistan,41.377500,64.585300,4/2/20,205,2,25
18403,Venezuela,6.423800,-66.589700,4/2/20,146,5,43
18404,Vietnam,16.000000,108.000000,4/2/20,233,0,75
18405,Zambia,-15.416700,28.283300,4/2/20,39,1,0
18406,Zimbabwe,-20.000000,30.000000,4/2/20,9,1,0
18407,Canada,0.000000,0.000000,4/2/20,0,1,0
18408,Dominica,15.415000,-61.371000,4/2/20,12,0,0
18409,Grenada,12.116500,-61.679000,4/2/20,10,0,0
18410,Mozambique,-18.665695,35.529562,4/2/20,10,0,0
18411,Syria,34.802075,38.996815,4/2/20,16,2,0
18412,Timor-Leste,-8.874217,125.727539,4/2/20,1,0,0
18413,Belize,13.193900,-59.543200,4/2/20,3,0,0
18414,Laos,19.856270,102.495496,4/2/20,10,0,0
18415,Libya,26.335100,17.228331,4/2/20,11,1,0
18416,West Bank and Gaza,31.952200,35.233200,4/2/20,161,1,18
18417,Guinea-Bissau,11.803700,-15.180400,4/2/20,9,0,0
18418,Mali,17.570692,-3.996166,4/2/20,36,3,0
18419,Saint Kitts and Nevis,17.357822,-62.782998,4/2/20,9,0,0
18420,Canada,64.825500,-124.845700,4/2/20,2,0,0
18421,Canada,64.282300,-135.000000,4/2/20,6,0,0
18422,Kosovo,42.602636,20.902977,4/2/20,125,1,10
18423,Burma,21.916200,95.956000,4/2/20,20,1,0
18424,United Kingdom,18.220600,-63.068600,4/2/20,3,0,0
18425,United Kingdom,18.420700,-64.640000,4/2/20,3,0,0
18426,United Kingdom,21.694000,-71.797900,4/2/20,5,0,0
18427,MS Zaandam,0.000000,0.000000,4/2/20,9,2,0
18428,Botswana,-22.328500,24.684900,4/2/20,4,1,0
18429,Burundi,-3.373100,29.918900,4/2/20,3,0,0
18430,Sierra Leone,8.460555,-11.779889,4/2/20,2,0,0
18431,Malawi,-13.254308,34.301525,4/2/20,3,0,0

In [30]:
# 위도 경도 빼기
df2 = df1.drop(['Lat', 'Long'] , axis = 1)
df2

               Country/Region     Date  Confirmed  Deaths  Recovered
0                 Afghanistan  1/22/20          0       0          0
1                     Albania  1/22/20          0       0          0
2                     Algeria  1/22/20          0       0          0
3                     Andorra  1/22/20          0       0          0
4                      Angola  1/22/20          0       0          0
5         Antigua and Barbuda  1/22/20          0       0          0
6                   Argentina  1/22/20          0       0          0
7                     Armenia  1/22/20          0       0          0
8                   Australia  1/22/20          0       0          0
9                   Australia  1/22/20          0       0          0
10                  Australia  1/22/20          0       0          0
11                  Australia  1/22/20          0       0          0
12                  Australia  1/22/20          0       0          0
13                  Australia  1/22/20          0       0          0
14                  Australia  1/22/20          0       0          0
15                  Australia  1/22/20          0       0          0
16                    Austria  1/22/20          0       0          0
17                 Azerbaijan  1/22/20          0       0          0
18                    Bahamas  1/22/20          0       0          0
19                    Bahrain  1/22/20          0       0          0
20                 Bangladesh  1/22/20          0       0          0
21                   Barbados  1/22/20          0       0          0
22                    Belarus  1/22/20          0       0          0
23                    Belgium  1/22/20          0       0          0
24                      Benin  1/22/20          0       0          0
25                     Bhutan  1/22/20          0       0          0
26                    Bolivia  1/22/20          0       0          0
27     Bosnia and Herzegovina  1/22/20          0       0          0
28                     Brazil  1/22/20          0       0          0
29                     Brunei  1/22/20          0       0          0
...                       ...      ...        ...     ...        ...
18402              Uzbekistan   4/2/20        205       2         25
18403               Venezuela   4/2/20        146       5         43
18404                 Vietnam   4/2/20        233       0         75
18405                  Zambia   4/2/20         39       1          0
18406                Zimbabwe   4/2/20          9       1          0
18407                  Canada   4/2/20          0       1          0
18408                Dominica   4/2/20         12       0          0
18409                 Grenada   4/2/20         10       0          0
18410              Mozambique   4/2/20         10       0          0
18411                   Syria   4/2/20         16       2          0
18412             Timor-Leste   4/2/20          1       0          0
18413                  Belize   4/2/20          3       0          0
18414                    Laos   4/2/20         10       0          0
18415                   Libya   4/2/20         11       1          0
18416      West Bank and Gaza   4/2/20        161       1         18
18417           Guinea-Bissau   4/2/20          9       0          0
18418                    Mali   4/2/20         36       3          0
18419   Saint Kitts and Nevis   4/2/20          9       0          0
18420                  Canada   4/2/20          2       0          0
18421                  Canada   4/2/20          6       0          0
18422                  Kosovo   4/2/20        125       1         10
18423                   Burma   4/2/20         20       1          0
18424          United Kingdom   4/2/20          3       0          0
18425          United Kingdom   4/2/20          3       0          0
18426          United Kingdom   4/2/20          5       0          0
18427              MS Zaandam   4/2/20          9       2          0
18428                Botswana   4/2/20          4       1          0
18429                 Burundi   4/2/20          3       0          0
18430            Sierra Leone   4/2/20          2       0          0
18431                  Malawi   4/2/20          3       0          0

[18432 rows x 5 columns]

In [31]:
Confirmed = df2.groupby(['Confirmed']['dataf'])

TypeError: list indices must be integers or slices, not str