# 백준 14681 : 사분면 고르기

In [8]:
x = int(input())
y = int(input())

if(x > 0 and y > 0 ):
    result = 1
elif(x < 0 and y > 0):
    result = 2
elif(x < 0 and y < 0 ):
    result = 3
elif(x > 0 and y < 0):
    result = 4
print(result)

-1
3
2

# 백준 10039번 : 평균 점수

In [12]:
total = [] 
score1 = total.append(int(input())) 
score2 = total.append(int(input()))
score3 = total.append(int(input()))
score4 = total.append(int(input()))
score5 = total.append(int(input()))

for i in range(4):
    if total[i] < 40:
        total[i] = 40
print(rou(sum(total)/len(total)))

10
20
30
40
50
30

# 5543 번 : 상근날드

In [37]:
hamburger = []
drink = []
for i in range(3):
    hamburger.append(int(input()))
for i in range(2):
    drink.append(int(input()))

print(min(hamburger) + min(drink) - 50)

800
700
900
198
330
848

# 2523번 : 별 찍기 - 13

In [63]:
n = int(input())
for i in range(n):
    i = i + 1
    print(i*'*')
for j in range(n-1,0,-1):
    print(j*'*')

4
*
**
***
****
***
**
*

# 2446 : 별 찍기 - 9

In [24]:
n = int(input())
f = 0 
for i in range(n , 0 , -1):
    i = i * 2 - 1
    print(f * ' ' , end = "")
    print(i * '*')
    f = f + 1
f = f - 1 
for j in range(1, n):
    j = j * 2 + 1
    f = f - 1
    print(f * ' ',end = "")
    print(j * '*')

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

# 1096번 별 찍기 - 21

In [54]:
n = int(input())
a = n % 2
b = n // 2

for i in range(n):
    if n == 1:
        print('*')
    elif a == 0:
        print('* '*b)
        print(' *'*b)
    elif a == 1:
        print('* '*b +"*")
        print(' *'*b)

4
* *
 * *
* *
 * *
* *
 * *
* *
 * *