In [1]:
import pandas as pd

confirmed = pd.read_csv('./data/time_series_covid_19_confirmed.csv')
deaths = pd.read_csv('./data/time_series_covid_19_deaths.csv')
recoverd = pd.read_csv('./data/time_series_covid_19_recovered.csv')

In [2]:
# 데이터 정보 확인 
# province/state : 결측값 존재
# Country/Region : 범주형 자료
# lat , long : 위도 경도는 실수형 자료
confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 76 columns):
Province/State    80 non-null object
Country/Region    258 non-null object
Lat               258 non-null float64
Long              258 non-null float64
1/22/20           258 non-null int64
1/23/20           258 non-null int64
1/24/20           258 non-null int64
1/25/20           258 non-null int64
1/26/20           258 non-null int64
1/27/20           258 non-null int64
1/28/20           258 non-null int64
1/29/20           258 non-null int64
1/30/20           258 non-null int64
1/31/20           258 non-null int64
2/1/20            258 non-null int64
2/2/20            258 non-null int64
2/3/20            258 non-null int64
2/4/20            258 non-null int64
2/5/20            258 non-null int64
2/6/20            258 non-null int64
2/7/20            258 non-null int64
2/8/20            258 non-null int64
2/9/20            258 non-null int64
2/10/20           258 non-null int64
2/11/20           258 non-null int64
2/12/20           258 non-null int64
2/13/20           258 non-null int64
2/14/20           258 non-null int64
2/15/20           258 non-null int64
2/16/20           258 non-null int64
2/17/20           258 non-null int64
2/18/20           258 non-null int64
2/19/20           258 non-null int64
2/20/20           258 non-null int64
2/21/20           258 non-null int64
2/22/20           258 non-null int64
2/23/20           258 non-null int64
2/24/20           258 non-null int64
2/25/20           258 non-null int64
2/26/20           258 non-null int64
2/27/20           258 non-null int64
2/28/20           258 non-null int64
2/29/20           258 non-null int64
3/1/20            258 non-null int64
3/2/20            258 non-null int64
3/3/20            258 non-null int64
3/4/20            258 non-null int64
3/5/20            258 non-null int64
3/6/20            258 non-null int64
3/7/20            258 non-null int64
3/8/20            258 non-null int64
3/9/20            258 non-null int64
3/10/20           258 non-null int64
3/11/20           258 non-null int64
3/12/20           258 non-null int64
3/13/20           258 non-null int64
3/14/20           258 non-null int64
3/15/20           258 non-null int64
3/16/20           258 non-null int64
3/17/20           258 non-null int64
3/18/20           258 non-null int64
3/19/20           258 non-null int64
3/20/20           258 non-null int64
3/21/20           258 non-null int64
3/22/20           258 non-null int64
3/23/20           258 non-null int64
3/24/20           258 non-null int64
3/25/20           258 non-null int64
3/26/20           258 non-null int64
3/27/20           258 non-null int64
3/28/20           258 non-null int64
3/29/20           258 non-null int64
3/30/20           258 non-null int64
3/31/20           258 non-null int64
4/1/20            258 non-null int64
4/2/20            258 non-null int64
dtypes: float64(2), int64(72), object(2)
memory usage: 153.3+ KB

# 데이터 전처리

In [3]:
# 데이터 전처리 (Province/State) 제거
confirmed_1 = confirmed.drop(['Province/State'] ,axis = 1)
deaths_1 = deaths.drop(['Province/State'] ,axis = 1)
recoverd_1 = recoverd.drop(['Province/State'] ,axis = 1)

In [4]:
# 확진자 , 완치자 , 사망자 데이터를 분석하기 위해 위도 경도 삭제
confirmed_2 = confirmed_1.drop(['Lat','Long'] , axis = 1)
deaths_2= deaths_1.drop(['Lat','Long'] , axis = 1)
recoverd_2 = recoverd_1.drop(['Lat','Long'] , axis = 1)

## 중복된 country 찾고 그룹화 하기

In [5]:
# 중복된 나라 찾기 
import pandas as pd 
Country=confirmed_2.iloc[:,0]
df = Country.value_counts()
df.index[1]

for i in range(len(df)):
    a = df[i]
    if a > 1:
        print(df.index[i])

China
Canada
United Kingdom
France
Australia
Netherlands
Denmark

-중복된 나라
(China
Canada
France
United Kingdom
Australia
Netherlands
Denmark)

In [6]:
# 중복된 나라 그룹화 해서 값을  
confirmed_3 = confirmed_2.groupby('Country/Region').sum()
deaths_3= deaths_2.groupby('Country/Region').sum()
recoverd_3= recoverd_2.groupby('Country/Region').sum()

In [7]:
# 결과 확인
df = confirmed_3.loc[['China',]].T
df

Country/Region  China
1/22/20           548
1/23/20           643
1/24/20           920
1/25/20          1406
1/26/20          2075
...               ...
3/29/20         82122
3/30/20         82198
3/31/20         82279
4/1/20          82361
4/2/20          82432

[72 rows x 1 columns]

In [8]:
# 그룹화 하기 전 데이터의 sum ()
example = confirmed_2.set_index("Country/Region")
example.loc[['China']].sum()
# 비교 결과 비교 전과 후 의 값은 같다

1/22/20      548
1/23/20      643
1/24/20      920
1/25/20     1406
1/26/20     2075
           ...
3/29/20    82122
3/30/20    82198
3/31/20    82279
4/1/20     82361
4/2/20     82432
Length: 72, dtype: int64

# 시각화

지금 가지고 data  
나라별 확진자 , 사망자 , 완치자 (수)

1. 누적 확진자 전 세계 기준으로 0  

2. 누적 확진자 top 15 o

선 그래프 시계열로 표현 (사망자 , 완치자 )

+ 전세계 확진자, 사망자 , 완치자 다 더하고 

추세 분석!!

In [9]:
# 4월 2일 기준으로 누적 확진자 데이터
confirmed_4 = confirmed_3.iloc[ : ,  -1 ]
deaths_4 = deaths_3.iloc[ : ,  -1 ]
recoverd_4 = recoverd_3.iloc[ : ,  -1 ]

In [10]:
df = confiremd_4.sort_values()
df

NameError: name 'confiremd_4' is not defined

## 전세계 covid - 19

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
fig = px.bar(confiremd_4, x = confiremd_4.index , y = confiremd_4.values, 
              labels = {'covid - 19 : confirmed'} , height = 600)
fig.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(
data = [go.Bar(name = 'confiremd', x = confiremd_4.index , y = confiremd_4.values ),
       go.Bar(name = 'deaths' , x = deaths_4.index , y = deaths_4.values ),
       go.Bar(name = 'recoverd', x =recoverd_4.index, y = recoverd_4.values)])
fig.update_layout(barmode = 'stack' , title_text = '4월 2일 코로나 확진자, 사망자, 완치자')
fig.show()

## 확진자 top 15

In [ ]:
# 누적 확진자 top 15를 기준으로 사망자와 완치자를 나라에 맞게 따로 구해야한다 
confirmed_5 = confirmed_4.sort_values().tail(15)
list_1 = []
for i in confirmed_5.index:
    list_1.append(i)
list_1

In [ ]:
confirmed_5 = pd.DataFrame(confirmed_5)
confirmed_5

In [ ]:
deaths_5  = []
for i  in list_1:
    for index , values in enumerate(deaths_4.index):
        if i == values :
            deaths_5.append(deaths_4[index])
print(deaths_5)

In [ ]:
deaths_5 = pd.DataFrame(deaths_5, index = ['Korea, South',
 'Austria',
 'Canada',
 'Netherlands',
 'Belgium',
 'Turkey',
 'Switzerland',
 'United Kingdom',
 'Iran',
 'France',
 'China',
 'Germany',
 'Spain',
 'Italy',
 'US'] , columns = ['4/2/20'])

In [ ]:
deaths_5

In [ ]:
recoverd_5  = []
for i  in list_1:
    for index , values in enumerate(recoverd_4.index):
        if i == values :
            recoverd_5.append(recoverd_4[index])
print(recoverd_5)

In [ ]:
recoverd_5 = pd.DataFrame(recoverd_5, index = ['Korea, South',
 'Austria',
 'Canada',
 'Netherlands',
 'Belgium',
 'Turkey',
 'Switzerland',
 'United Kingdom',
 'Iran',
 'France',
 'China',
 'Germany',
 'Spain',
 'Italy',
 'US'] , columns = ['4/2/20'])

In [ ]:
confirmed_5

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(
data = [go.Bar(name = 'confiremd', x = confirmed_5.index , y = confirmed_5['4/2/20'] ),
       go.Bar(name = 'deaths' , x = deaths_5.index , y = deaths_5['4/2/20'] ),
       go.Bar(name = 'recoverd', x =recoverd_5.index, y = recoverd_5['4/2/20'])])
fig.update_layout(barmode = 'stack' , title_text = ' top 15 : 4월 2일 코로나 확진자, 사망자, 완치자 (수)')
fig.show()

## US covid - 19

In [ ]:
confirmed_3.loc["US",  ]

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = confirmed_3.loc["US", :   ].index ,
                         y = confirmed_3.loc["US",  ], mode = 'lines + markers' , name = 'confirmed'))
fig.add_trace(go.Scatter(x = deaths_3.loc["US",  ].index ,
                         y = deaths_3.loc["US",  ], mode = 'lines + markers' , name = 'deaths'))
fig.add_trace(go.Scatter(x = recoverd_3.loc["US",  ].index ,
                         y = recoverd_3.loc["US",  ], mode = 'lines + markers' , name = 'recoverd_3'))

fig.show()